*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
:root{
    --second-font: 'Open Sans', sans-serif;
}
body{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1352px;
    margin: 0 auto;
}
.page-header-box{
    box-shadow: 2px 3px 5px #00000029;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.page-header > a{
    color: #08A6E4;
    font-size: 32px;
    text-decoration: none;
}
.page-header > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.page-header > nav > ul > li{
    padding: 24px 30px;
}
.page-header > nav > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--second-font);
    font-size: 11px;
    font-weight: bold;
    color: #A5A5A5;
}
.page-header > nav > ul > li:hover{
    border-bottom: 4px solid #08A6E4;
}
.page-header > nav > ul > li:hover > a{
    color: #000000;
}
.main-section{
    height: calc(100vh - 70px);
}
.main-section__content{
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section__content > button{
    background: #08A6E4;
    border-radius: 40px;
    padding: 23px 157px;
    border-style: none;
    margin: 10px;
}
.main-section__content > button > a{
    font-family: var(--second-font);
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.main-section__content > h1{
    font-size: 49px;
    font-weight: 400;
    margin-top: 130px;
    line-height: 59px;
}
.main-section__content > p{
    font-size: 16px;
    font-family: var(--second-font);
    font-weight: 400;
    margin: 20px;
}
.main-section__photo{
    background: url("../img/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60%;
}
.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}
.first-section > h2{
    font-size: 36px;
    line-height: 43px;
    margin: 50px;
}
.first-section__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.first-section__content__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: calc((100% / 3) - 40px);
    margin: 20px;
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}
.red{
    background: #FB3B64;
}
.blue{
    background: #08A6E4;
}
.green{
    background: #55DFB4;
}
.red > img, .green > img{
    position: absolute;
    top: 10%;
    left: 50%;
}
.blue > img{
    position: absolute;
    top: 25%;
    left: 35%;
}
.first-section__content__item span:first-of-type{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: black;
    margin-top: 10px;
}
.first-section__content__item span:last-of-type{
    font-size: 17px;
    line-height: 20px;
    color: #A5A5A5;
    margin-top: 15px;
    width: 50%;
    text-align: center;
}
.second-section{
    background: #E8E9ED;
}
.second-section__content{
    padding: 60px;
}
.second-section__content__article{
    height: calc(100vh / 2.5);
    width: calc(70vw);
    background: #FFFFFF;
    margin: 30px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section__article--text, .second-section__article--image{
    width: 40%;
    margin: 40px 30px;
}
.second-section__article--text > h2, .second-section__last-article--left-text > h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}
.second-section__article--text > p, .second-section__last-article--left-text > p{
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 40px 0;
}
.second-section__article--text > p::after, .second-section__last-article--left-text > p::after{
    content: "";
    height: 4px;
    width: 70%;
    background: #FB3B64;
    display: block;
    margin-top: 50px;
}
.second-section__article--image{
    height: 70%;
    position: relative;
}
.second-section__article--image > img{
    position: absolute;
}
.square{
    width: 180px;
    height: 180px;
    border-radius: 25%;
    background: #FB3B64;
    transform: rotate(45deg);
    left: 50%;
    /*right: 20%;*/
    /*bottom: -85%;*/
    position: absolute;
}
.second-section__article--image--circle{
    width: 300px;
    height: 300px;
    background: #08A6E4;
    border-radius: 50%;
    position: absolute;
}
.second-section__last-article{
    height: calc(100vh / 2.5);
    width: calc(70vw);
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-section__last-article--left{
    height: 100%;
    width: 55%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: #FFFFFF;
}
.second-section__last-article--left-text{
    margin: 40px 30px;
}
.second-section__last-article--left-text > p::after{
    background: #55DFB4;
}
.second-section__last-article--right{
    height: 100%;
    width: 40%;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: #55DFB4;
    position: relative;
}
.second-section__last-article--right > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}
