*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1352px;
    margin: 0 auto;
}
.page-header-box{
    box-shadow: 2px 3px 5px #00000029;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.page-header > a{
    color: #08A6E4;
    font-size: 32px;
    text-decoration: none;
}
.page-header > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.page-header > nav > ul > li{
    padding: 24px 30px;
}
.page-header > nav > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #A5A5A5;
}
.page-header > nav > ul > li:hover{
    border-bottom: 4px solid #08A6E4;
}
.page-header > nav > ul > li:hover > a{
    color: #000000;
}
.main-section{
    height: calc(100vh - 70px);
}
.main-section__content{
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section__content > button{
    background: #08A6E4;
    border-radius: 40px;
    padding: 23px 157px;
    border-style: none;
    margin: 10px;
}
.main-section__content > button > a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.main-section__content > h1{
    font-size: 49px;
    font-weight: 400;
    margin-top: 130px;
    line-height: 59px;
}
.main-section__content > p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 20px;
}
.main-section__photo{
    background: url("../img/Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60%;
}
.first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}
.first-section > h2{
    font-size: 36px;
    line-height: 43px;
    margin: 50px;
}
.first-section__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.first-section__content__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: calc((100% / 3) - 40px);
    margin: 20px;
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}
.red{
    background: #FB3B64;
}
.blue{
    background: #08A6E4;
}
.green{
    background: #55DFB4;
}
.red > img, .green > img{
    position: absolute;
    top: 10%;
    left: 50%;
}
.blue > img{
    position: absolute;
    top: 25%;
    left: 35%;
}
.first-section__content__item span:first-of-type{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: black;
    margin-top: 10px;
}
.first-section__content__item span:last-of-type{
    font-size: 17px;
    line-height: 19px;
    color: #A5A5A5;
    margin-top: 15px;
    width: 50%;
    text-align: center;
}